{% extends "base.html" %}
{% block content %}
    <b>{{ _("For developers") }}</b>
    <p>{{ _("Our API gives a list of TLE, from the current to the last published.") }}</p>
    <p>{{ _("If you working on a non-profit open source project, we can provide you access to the API, with limit up to 2000 requests per day.") }}</p>
    <a target="_blank" href="mailto:request@tlrs.ru?subject={{ _("Request for access to the API of &quot;ISS above&quot; project") }}">{{ _("Send request") }}</a>
{% endblock %}