{% extends "base.html" %}
{% block content %}
    <p>{{ _("The \"ISS above\" project allows you to track the <a target=\"_blank\" href=\"https://en.wikipedia.org/wiki/International_Space_Station\">International Space Station</a>.") }}</p>
    <p>{{ _("We are use publicly available NASA data to calculate the position of the ISS with high accuracy.") }}</p>
    <p>{{ _("In our application, you will be able to see the track of the orbit, find out when the ISS will be visible from your location, and you can also be notified of its visibility.") }}</p>
    <p>{{ _("Available only in Google Play&#8482;") }}</p>
    <div class="badges">
        <a class="badge" target="_blank" href="https://play.google.com/store/apps/details?id=ru.tlrs.iss"><img
                class="badge"
                src="{{ url_for('static', filename=gettext("img/google-play-badge-eng.png")) }}"
                alt={{ _("Available in Google Play") }}></a>
        <img class="qr" src="{{ url_for('static', filename=gettext("img/code.png")) }}"/>
    </div>
{% endblock %}