{% extends "base.html" %}
{% block content %}
{{ _("<p>Проект «ISS above» позволяет отслеживать положение <a href=\"\">Международной космической станции</a>.</p>
<p>Мы используем находящиеся в открытом доступе данные NASA, для рассчёта положения МКС с высокой точностью.</p>
<p>В нашем приложении, вы сможете посмотреть на трек орбиты, узнать, когда МКС будет видна из вашего местоположения,а также сможете получать уведомления о её видимости.</p>
<p>Доступно только в Google Play&#8482;</p>
<a class=\"badge\" href=\"\"><img class=\"badge\" src=\"static/img/google-play-badge-rus.png\" alt=\"Доступно в Google Play\"/></a>") }}
{% endblock %}
