<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        <title>ISS above</title>
    <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter39412765 = new Ya.Metrika({
                    id:39412765,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/39412765" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<div class="blur">
    <header>
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="ISS above"/></a>
            <span>ISS above</span>
        </div>
        <div class="lang">
            <form action="/" method="POST">
                {% if lang != "ru" %}
                    <input name="lang" type="hidden" value="ru"/>
                    <input type="submit" class="rus" value="Русский"/>
                {% else %}
                    <input name="lang" type="hidden" value="en"/>
                    <input type="submit" class="eng" value="English"/>
                {% endif %}
            </form>
        </div>
    </header>
    <section>
        <article>
            <b>{{ _("Maintenance in progress") }}</b>
            <p>{{ _("&quot;ISS above&quot; is under maintenance now. We should back shortly. Thanks for your patience.") }}</p>
        </article>
    </section>
    <footer>

    </footer>
</div>
</body>
</html>
